*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.calculator-container {
    height: fit-content;
    max-width: 500px;
    width: min-content;
    padding: 40px 30px;
    background-color: #4e73a5;
    border: 3px solid black;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    align-content: flex-start;
    flex: 0 0 auto;
}

#calculator-screen {
    min-height: 90px;
    height: fit-content;
    width: 370px;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #5d95e7;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-end;
    font-size: 22px;
    font-weight: 700;
}

#calculator-screen > * {
    text-align: end;
}

#calculator-screen-history {
    font-size: 18px;
}

.calculator-button {
    height: 70px;
    width: 70px;
    background-color: #5d95e7;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
}

.calculator-wide-button {
    width: 100px;
}

.calculator-button:hover {
    background-color: #7aaaf1;
    border: 3px dashed black;
}

.calculator-button-clicked {
    transform: scale(1.1);
    transition: transform 100ms ease;
    transform-origin: center;
}